{% extends 'layout.html' %}
{% load bootstrap %}

{% block title %}
<title>Booking</title>
{% endblock %}

{% block main_content %}
    <div class="bg-img-book">
        <div class="container ">
            <div class="row">
        <div class="col-lg-8 offset-md-3">
                 <div class="contact_join">
                        <p style="margin-top: 30px"></p>
                        <h3 class="text-white">Book Now</h3>
                <form class="form" method= 'POST' enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form |  bootstrap_horizontal}}
                    <input class="btn boxed-btn4" value="Submit" type="submit">
                </form>
                     {% for message in messages %}
                         {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                            <p class="text-success">{{message}}</p>
                         {% endif %}
                         {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            <p class="text-danger">{{message}}</p>
                         {% endif %}
                    {% endfor %}
                 </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}