@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'cursive';
}

.navbar{
    background: rgb(32, 31, 31);
    padding: 1rem 5rem;
}
.navbar .navbar-brand{

    font-size: 1.4rem;
    font-weight: 700;
}
.nav-item a{

    color: #ffffff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
    text-decoration: none;

}
.dropdown-menu{
    background: black !important;
    width: 100%;
}

.dropdown-menu a{
    color: white;
    background: transparent;
}
.dropdown-menu a:hover{
    background: rgb(144, 122, 133);
    text-decoration: underline;
}


.nav-item>a:hover{
    color: rgb(219, 217, 218);
    background: black;

}

.navbar-btn1{
    background-color: black;

    padding: 0.4rem 0.5rem;

}

.navbar-btn1> a{
        font-weight: 600;
        
}

.navbar-btn2{
    padding: 0.4rem 0.5rem;
}

.navbar-btn2> a{
        font-weight: 600;
}

.navbar-toggler{
    margin-bottom: 2rem;
    background-color: crimson;
}

/*.active{*/
/*    color: rgba(155, 165, 170, 1);*/
/*}*/

.dropdown-item{
    background: white;
    color: #1F1F1F;
}

.active{
    color: #EC5849;
    border-style: solid;
}
