{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<title>Change Password</title>
{% endblock %}

{% block main_content %}
    <div class="container" style="margin-top: 20px">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Change Password</h1>
                <div class="card py-2 px-2" style="background-color: #1F1F1F; color: #ff5e13">
                    <form class="form" action="" method="POST">
                        {% csrf_token %}
                        {{ form | bootstrap_horizontal }}
                        <button type="submit"  class="btn boxed-btn4" style="margin-left: 260px; margin-top: 20px;
                                margin-bottom: 20px; ">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        var from_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder= 'Enter old password';
        form_fields[2].placeholder= 'Enter new password';
        form_fields[3].placeholder= 'Enter new password again';

        for (var  field in form_fields){
            field.className += 'my-2'
        }
    </script>
{% endblock %}