{% extends 'layout.html' %}
{% load bootstrap %}
{% block title %}
<table>Change Password </table>
{% endblock %}

{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1 class="text-center">Password change successful</h1>
                <div class="card py-2 px-2 bg-success">
                    <h4 class="text-center text-white" >Congratulation! Your password has been changed successfully</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}