{% extends 'layout.html' %}

{% load bootstrap %}

{% block title %}
<title>Update Profile</title>
{% endblock %}

<!--main body-->
{% block main_content %}
<div class="container" style="margin-top: 20px">
    <div class="row ">
        <div class="col">
            <h1>Current Details</h1>
            <div class="card">
                <div class="card-footer">
                    <div class="py-3">Firstname : {{ request.user.profile.firstname }}</div>
                    <div class="py-3">Lastname : {{ request.user.profile.lastname }}</div>
                    <div class="py-3">Email : {{ request.user.profile.email }}</div>
                    <div class="py-3">Phone : {{ request.user.profile.phone }}</div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="col-md-12 ">
                {% for message in messages %}
                {% if message.level == DEDFAULT_MESSAGE_LEVELS.SUCCESS %}
                    <h6 class="success-message py-3 px-1 my-2 text-center">{{ message }}</h6>
                {% endif %}

                {% if message.level ==  DEDFAULT_MESSAGE_LEVELS.ERROR  %}
                    <h6 class="error-message py-3 px-1 my-2 text-center">{{ message }}</h6>
                {% endif %}
                {% endfor %}
                <h1 class="text-center">Update Details</h1>
                <div class="card py-2 px-3 ">
                    <form class="form" action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form | bootstrap_horizontal }}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter first name';
    form_fields[2].placeholder = 'Enter last name';
    form_fields[3].placeholder = 'Enter email address';
    form_fields[4].placeholder = 'Enter phone number';

    for (var field in form_fields){
        field.className += 'form-control my-2'
    }
</script>

{% endblock %}