
<!-- start footer -->
    <footer class="footer mt-5">
        <div class="footer_info ">
            <!-- about-->
            <div class="footer_width about">
                <h2>About</h2>
                <p>
                    we are Ghumante, a group of Travel Enthusiasts. We love travelling in and around Nepal and share our Stories In providing this full range of travel- and
                    adventure-related
                    <a class=" text-white" href="{% url 'aboutAP' %}">activities...</a>
                </p>
            </div>
            <!-- end of about -->

            <!-- footer link-->
            <div class="footer_width link">
                <h2>Quick Link</h2>
                <ul>
                    <li><a href="{% url 'homeAP' %}" class="footer_lnk">Home</a></li>
                    <li><a href="{% url 'tourAP' %}" class="footer_lnk">Tours</a></li>
                    <li><a href="{% url 'destinationAP' %}" class="footer_lnk">Destination</a></li>
                    <li><a href="{% url 'contactAP' %}" class="footer_lnk">Contact</a></li>
                </ul>


            </div>
            <!-- end of footer link-->
            <!-- footer contact -->
            <div class="footer_width contact">
                <h2>Contact</h2>
                <ul>
                    <li>
                        <span><i class="fas fa-map-marker-alt"></i></span>
                        <i class="fas fa-map-marker-alt"></i>
                        <p>
                            Kathmandu Nepal
                            <br>
                            Heaven 

                        </p>
                    </li>
                    <li>
                        <span><i class="far fa-envelope"></i></span>
                        <a href="#" class="footer_lnk">admin@ghumante.com</a>
                    </li>
                    <li>
                        <span><i class="fas fa-phone-volume"></i></span>
                        <a href="#" class="footer_lnk">01 23456789</a>
                    </li>
                </ul>
            </div>
            <!-- end of footer contact -->
        </div>
        <div class="copy-right">
            <p>&copy;COPYRIGHT 2022 Ghumante ALL RIGHT RESERVED.MANJESH</p>
        </div>
      </footer>

<!-- end footer -->