{% load static %}
<link href="{% static 'css/navbar.css' %}" type="text/css", rel="stylesheet">


<nav class="navbar navbar-expand-lg navbar-dark ">
  <a class="navbar-brand" href="{% url 'adminDashboardAd' %}">Dashboard</a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item ">
          <a class="{{ active_dashboard }}" href="{% url 'homeAP' %}">Home <span class="sr-only">Admin</span></a>
      </li>
    </ul>

    <form class="form-inline my-2 my-lg-0">

        <ul class="navbar-nav mr-auto">
              <li class="navbar-btn1">
                <a class="btn boxed-btn" href="{% url 'registerAd' %}">Sign-Up</a>
            </li>
            <li class="navbar-btn2">
                <a class="btn boxed-btn4" href="{% url 'logoutAc' %}">Sign-In</a>
            </li>

        </ul>
    </form>
  </div>
</nav>
