{% extends 'layout-admin.html' %}
{% load bootstrap %}
{% load static %}
{% block title %}
<title>Register User</title>
{% endblock %}

{% block content %}
    <style>
    .registration_form label.control-label{
        max-width: 100%;
    }

    .registration_form .col-sm-8, .col-lg-10{
        max-width: 100%;
    }

    .registration_form ul, p.help-block{
        font-size: 12px;
        color: #abc;
    }

    .registration_form span.help-block{
        font-size: 12px;
        color: red;
    }

    </style>

    <div class="container" style="margin-top: 10px">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
            <h6 class="success_message py-3 px-1 my-2 text-center">{{message}}</h6>
            {% endif %}

            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR%}
            <h6 class="error_message py-3 px-1 my-2 text-center">{{message}}</h6>
            {% endif %}
            {% endfor %}
            <h1 class="text-center">Add New User</h1>
            <div class="card py-2 px-2">
                <form class="form registration_form" style="background-color: #2a2a2a; color: white" action="" method="POST">
                    {% csrf_token %}

                    {{ form | bootstrap_horizontal }}
                    <button type="submit"  class="btn boxed-btn4" style="margin-left: 260px; margin-top: 20px;
                                margin-bottom: 20px; ">Sign-In</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    var form_fields = document.getElementsByTagName('input')
    form_fields[1].placeholder = 'Enter username';
    form_fields[2].placeholder = 'Enter password';
    form_fields[3].placeholder = 'Enter the same password';

    for (var field in form_fields){
    field.className += ' my-2'
    }
</script>
{% endblock %}