{% extends 'layout-admin.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
<title>Show Bookings</title>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 offset">
            <h1 class="text-center"> Booking </h1>
            <div class="card py-2 px-2 table-responsive">
                <a class="btn btn-success btn-bg ml-auto mb-2" style="width: 100%"
                   href="{% url 'postBookingAd' %}">Add New Booking</a>

                <table class="table table-striped table-dark">
                    <tr class="bg">
                        <th>#</th>
                        <th>User</th>
                        <th>Tour</th>
                        <th>Fullname</th>
                        <th>Phone</th>
                        <th>Persons</th>
                        <th>Card No</th>
                        <th>Exp Date</th>
                        <th>Cvc</th>
                        <th>Status</th>
                    </tr>
                    {% for i in booking %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.user }}</td>
                        <td>{{ i.tour }}</td>
                        <td>{{ i.fullname }}</td>
                        <td>{{ i.phone }}</td>
                        <td>{{ i.persons }}</td>
                        <td>{{ i.card_number }}</td>
                        <td>{{ i.expiry_date }}</td>
                        <td>{{ i.cvc }}</td>
                        <td>{{ i.status }}</td>

                        <td><a href="/admin-dashboard/updateBooking/{{ i.id }}"
                               class="btn btn-primary btn-sm">Edit</a> &nbsp;
                            <a href="/admin-dashboard/deleteBooking/{{ i.id }}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure want to delete this file?')">
                                Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
