{% extends 'layout-admin.html' %}
{% load static %}
{% load bootstrap %}
{% block title %}
<title>Show Tour</title>
{% endblock%}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12 offset">
            <h1 class="text-center"> Destination </h1>
            <div class="card py-2 px-2 table-responsive">
                <a class="btn btn-success btn-bg ml-auto mb-2" style="width: 100%"
                   href="{% url 'postDestinationAd' %}">Add New Destination</a>

                <table class="table table-responsive table-dark">
                    <tr class="bg">
                        <th>#</th>
                        <th>name</th>
                        <th>Picture</th>
                        <th>Action</th>
                    </tr>
                    {% for i in destination %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.name }}</td>
                        <td>{{ i.picture }}</td>

                        <td><a href="/admin-dashboard/updateDestination/{{ i.id }}"
                               class="btn btn-primary btn-sm">Edit</a> &nbsp;
                            <a href="/admin-dashboard/deleteDestination/{{ i.id }}"
                               class="btn btn-danger btn-sm"
                               onclick="return confirm('Are you sure want to delete this file?')">
                                Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content%}
